@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.jodit-wysiwyg ul {
  list-style: disc;
  padding-left: 20px;
}

.jodit-wysiwyg ol {
  list-style: decimal;
  padding-left: 20px;
}

.jodit-wysiwyg ul ul {
  list-style: circle;
}

.jodit-wysiwyg ul ul ul {
  list-style: square;
}

/* Global styling for Jodit content */
.jodit-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.jodit-content ul {
  list-style-type: disc;
  /* or circle, square */
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 20px;
}

.jodit-content li {
  margin: 5px 0;
}